src/main/mule/sgst-pmpc-gitp-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="sgst-pmpc-gitp-sapi-main">
        <http:listener config-ref="sgst-pmpc-gitp-sapi-httpListenerConfig" path="${http.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="sgst-pmpc-gitp-sapi-config" />
		<error-handler ref="common-exception-handler" />
    </flow>
    <flow name="sgst-pmpc-gitp-sapi-console">
        <http:listener config-ref="sgst-pmpc-gitp-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="sgst-pmpc-gitp-sapi-config" />
		<error-handler ref="common-exception-handler" />
    </flow>
    <flow name="post:\ar-statements:application\json:sgst-pmpc-gitp-sapi-config">
		<flow-ref doc:name="sgst-pmpc-impl-flow" doc:id="ac0d4cbb-84fb-4cf2-a4e2-54df3d7acdf1" name="sgst-pmpc-impl-flow"/>
    </flow>
    <flow name="post:\fpl:application\json:sgst-pmpc-gitp-sapi-config">
		<flow-ref doc:name="sgst-pmpc-impl-flow" doc:id="1730a082-ee38-404c-9400-31674491e236" name="sgst-pmpc-impl-flow"/>
    </flow>
    <flow name="post:\purchase-orders:application\json:sgst-pmpc-gitp-sapi-config">
		<flow-ref doc:name="sgst-pmpc-impl-flow" doc:id="4179c4b9-e6ea-45fc-86ba-b35c9b7169d5" name="sgst-pmpc-impl-flow"/>
    </flow>
    <flow name="post:\purchase-results:application\json:sgst-pmpc-gitp-sapi-config">
		<flow-ref doc:name="sgst-pmpc-impl-flow" doc:id="b018d539-a3fc-4308-9dbe-2fc8dc56bd1e" name="sgst-pmpc-impl-flow"/>
    </flow>
</mule>
